@font-face {
  font-family: 'Montserrat-Thin';
  src: url(../assets/fonts/Montserrat-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(../assets/fonts/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url(../assets/fonts/Montserrat-Black.ttf);
  font-weight: 900;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Montserrat-Thin';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  height: 90px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 100px;
}

.navbar__product-details-page {
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  background: url(../assets/img/logo.png) no-repeat;
  width: 185px;
  height: 22px;
}

.nav {
  height: 22px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item {
  font-family: Montserrat-Light;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.item a {
  color: #8c8c8c;
}

.item:hover {
  font-family: 'Montserrat-Bold';
  border-bottom: 3px solid #212121;
}

.item:hover a {
  color: #212121;
}

.search {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  background: url(../assets/img/search.png) no-repeat;
}

.button {
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
          box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 22.5px;
  border: none;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
}

.button:hover {
  cursor: pointer;
}

.button-update {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  background: url(../assets/img/update.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.slider {
  position: relative;
  background: #f0f0f0 url(../assets/img/slider.png) no-repeat 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
}

.slider-content {
  padding-left: 100px;
  padding-right: 100px;
  width: 34%;
}

.slider-content h4 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #43a047;
  margin: 0;
}

.slider-content h3 {
  font-size: 56px;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 5px;
}

.slider-content p {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
  margin: 0;
  margin-bottom: 30px;
}

.slider-control {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
}

.circle-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(33, 33, 33, 0.2);
}

.circle-small:hover {
  background: #212121;
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.circle:hover {
  background: #212121;
  cursor: pointer;
}

.featured {
  padding: 120px 100px;
}

.tab-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-control__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #6c6c6c;
}

.tab-control__item {
  height: 50px;
  font-family: "Montserrat-Bold";
  font-size: 36px;
  font-weight: 700;
  color: #6c6c6c;
  margin-right: 30px;
  border-bottom: 3px solid transparent;
}

.tab-control__item:hover {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.tab-control__button {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-control__product-details-page {
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
}

.arrow-right {
  width: 12px;
  height: 12px;
  border-top: 2px solid #212121;
  border-right: 2px solid #212121;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.product {
  position: relative;
}

.product h3 {
  font-family: 'Montserrat-Bold';
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
}

.product p {
  padding: 0 30px;
  text-align: center;
}

.product .product-hover {
  display: none;
}

.product:hover .product-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(156, 156, 156, 0.9);
  background: #ffffff;
}

.product:hover .product-hover__button {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product-promo {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-promo img {
  width: 100%;
}

.product-promo-text {
  padding-left: 50px;
  position: absolute;
  z-index: 1;
}

.product-promo-text h3 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
  margin: 0;
}

.product-promo-text h2 {
  font-family: 'Montserrat-Bold';
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
  margin: 0;
}

.product-promo-text p {
  font-family: 'Montserrat-Light';
  width: 80%;
  font-size: 14.1px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.products-trending {
  padding: 100px;
}

.products-trending h2 {
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}

.products-trending__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.products-trending__button {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.products-trending__products {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-trending__products .product {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.products-trending__menu {
  padding-left: 0;
}

.products-trending__item {
  height: 40px;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.products-trending__item:hover {
  color: #212121;
}

.hot-deal {
  background: url(../assets/img/hot-deal.png) no-repeat 100%;
  width: 100%;
  background-size: cover;
}

.hot-deal h4 {
  color: #e53935;
}

.product-exclusive {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-exclusive__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-exclusive__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-center;
      -ms-flex-pack: space-center;
          justify-content: space-center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-exclusive__right img {
  margin: 15px;
}

.product-exclusive-text {
  padding-left: 50px;
  position: absolute;
  z-index: 1;
}

.product-exclusive-text h3 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
  margin: 0;
}

.product-exclusive-text h2 {
  font-family: 'Montserrat-Bold';
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
  margin: 0;
}

.product-exclusive-text p {
  font-family: 'Montserrat-Light';
  width: 55%;
  font-size: 14.1px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.mobile-app {
  background: url(../assets/img/back_img.png) no-repeat;
  background-size: cover;
  height: 516px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-app-content {
  padding-left: 100px;
  width: 35%;
}

.mobile-app-content h4 {
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.mobile-app-content h3 {
  margin: 0;
  font-size: 62px;
  line-height: 72px;
  text-transform: uppercase;
  color: #212121;
}

.mobile-app-content p {
  font-family: 'Montserrat-Light';
  font-size: 22px;
  line-height: 24px;
  color: #6c6c6c;
}

.mobile-app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
}

.mobile-app-links .appStore {
  display: block;
  margin-right: 10px;
  width: 135px;
  height: 40px;
  background: url(../assets/img/app_store.png) no-repeat;
}

.mobile-app-links .googlePlay {
  width: 135px;
  height: 40px;
  display: block;
  background: url(../assets/img/google_play.png) no-repeat;
}

.footer {
  height: 384px;
  background-color: #f7f7f7;
  padding: 100px 100px 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .wrap-contact-useful-stay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .wrap-copyright-social-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  width: 225px;
}

.contact h3 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.contact p {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  line-height: 22px;
  color: #212121;
}

.usefull-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.usefull-information h3 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.usefull-information .wrap-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.usefull-information a {
  display: block;
  font-family: 'Montserrat-Bold';
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #212121;
}

.stay-in-touch {
  width: 370px;
}

.stay-in-touch h3 {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.stay-in-touch p {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  line-height: 22px;
  color: #212121;
}

.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input input {
  width: 370px;
  height: 48px;
  padding-left: 15px;
  padding-right: 40px;
  border: 1px solid #d9dee1;
  font-family: 'Montserrat-Light';
  font-size: 14px;
  color: #6c6c6c;
}

.input img {
  position: absolute;
  right: 10px;
  opacity: 0.4;
}

.copyright {
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}

.social {
  cursor: pointer;
}

.social img {
  height: 26px;
}

.terms {
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}

.terms a {
  color: #6c6c6c;
}

.header {
  height: 300px;
  background: #f0f0f0;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 62px;
  line-height: 72px;
  color: #212121;
}

.line {
  width: 300px;
  border-bottom: 1px solid #6c6c6c;
}

.catalog-page__products {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-page__button-update {
  text-align: center;
  margin-top: 70px;
}

.product-details-page__item {
  height: 20px;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.product-details-page__item:hover {
  color: #212121;
}
/*# sourceMappingURL=style.css.map */